
@{
    ViewBag.Title = "Index";
}

<section>

    <h2>Menu</h2>

    <ul class="list-group">
        <li class="list-group-item"><a href="~/BL/viewBL"> View BL</a></li>
        <li class="list-group-item"><a href="~/Container/viewContainer">view Container</a></li>
    </ul>
    
</section>


